<div class="container">
  <h1 style="text-align:center">Creations</h1>
  <div class="row">
    <% @flowers.each do |flower| %>
      <div class="col-6 col-md-4">
        <div class="card" style="margin-bottom: 50px; height: 546px;">
          <%= image_tag flower.photo_url , class: "card-img-top", style:"height: 300px;" %>
          <div class="card-body">
            <h5 class="card-title"><%= flower.name %></h5>
            <p class="card-text"><%= flower.category.name %></p>
            <%= link_to "More details", flower_path(flower), class: "btn btn-primary", style: "margin-top: 60px;" %>
           <p>Amount: <%= humanized_money_with_symbol(flower.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
