<%= link_to flower_path(flower), :action => 'go', data: {turbolinks: 'false'} do %>
  <!-- TRIP CARD -->
  <div class="card-container mb-5">
    <!-- IMAGE & TITLE -->
    <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <%= image_tag flower.photo_url , class: "card-img-top", style:"height: 300px;" %>
      <h2 class="card-title"> <%=flower.name%></h2>
    </div>

      <!-- BADGE : Empty -->
      <!-- Display the empty badge only when a trip max capacity is reached -->

      <!-- BADGE : OWNER -->
      <!-- Display the owner badge only when current_user is the owner of the trip -->

    <!-- CARD INFO -->
    <div class="card-info">
      <h3 class="card-destination"><%= flower.price_cents%></h3>
      <div class="card-bottom">
        <p class="card-description"><%= flower.description %></p>
        <div class="card-details">
          <!-- AVERAGE RATING -->
          <% flower.flower_average_rating.times do %>
            <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
          <% end %>
          <% (5 - flower.flower_average_rating).times do %>
            <li class="list-inline-item star-grey"><i class="fas fa-star"></i></li>
          <% end %>
          <!-- PRICE RANGE -->
          <p class="price-range">$ flower.price_cents %></p>
        </div>
      </div>
    </div>
    <% if flower.tags.first %>
      <div class="d-flex align-items-center p-3">
        <% flower.tags.each do |tag| %>
          <span class="badge badge-light py-2 px-3 mx-1 font-weight-light"><%= tag.name %></span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

