<%= link_to flower_path(flower), :action => 'go', data: {turbolinks: 'false'} do %>
  <!-- TRIP CARD -->
  <div class="card-container" style="  overflow: hidden; background: white; box-shadow: 0 0 15px rgba(0,0,0,0.2);width: 500px; margin-right:50px; margin-bottom:50px; margin-left:70px">
    <!-- IMAGE & TITLE -->
    <div class="card-image">
      <%= image_tag flower.photo_url , class: "card-img-top", style:"  height: 260px;width: 100%; object-fit: cover;" %>

    </div>

      <!-- BADGE : Empty -->
      <!-- Display the empty badge only when a trip max capacity is reached -->

      <!-- BADGE : OWNER -->
      <!-- Display the owner badge only when current_user is the owner of the trip -->

    <!-- CARD INFO -->
    <div class="card-info" style="  padding: 16px;display: flex; justify-content: space-between; align-items: center; position: relative;">
      <h2 class="card-title" style="color: blue "> <%=flower.name%></h2>
      <h3 class="card-destination" style= " font-size: 16px;font-weight: bold;margin: 0;"><%= flower.price%>€</h3>
      <div class="card-bottom">
        <div class="card-details">
          <!-- AVERAGE RATING -->
          <!-- PRICE RANGE -->
        </div>
      </div>
    </div>
    <% if flower.tags.first %>
      <div class="d-flex align-items-center p-3">
        <% flower.tags.each do |tag| %>
          <span class="badge badge-light py-2 px-3 mx-1 font-weight-light"><%= tag.name %></span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

